<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <!-- Overview -->
        <h1 class="mt-3 mb-2">Overview</h1>

        <div class="row match-height">
            <!-- Item 1 -->
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                      <h2 class="item-title">Floor Price</h2>
                      <h2 class="item-content font-weight-bolder mt-1">{{overview.floor}} <span>Sol</span></h2>
                      <p class="item-desc">($434.73 USD)</p>
                    </div>
                </div>                
            </div>
            <!-- Item 2 -->
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                      <h2 class="item-title">Total Volume Traded</h2>
                      <h2 class="item-content font-weight-bolder mt-1">{{overview.totalVolume | shortNumber : 1}}<span>Sol</span></h2>
                      <p class="item-desc">($5,793,305.36 USD )</p>
                    </div>
                </div>                
            </div>
            
            <!-- Item 3 -->
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Highest Sale</h2>
                        <h2 class="item-content font-weight-bolder mt-1">{{overview.highSale}} <span>Sol</span></h2>
                        <p class="item-desc">($16,530 USD)</p>
                    </div>
                </div>                
            </div>
        </div>

        <div class="row match-height">
            <!-- Item 4 -->
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Total Distributed Rewards</h2>
                        <h2 class="item-content font-weight-bolder mt-1">3779.3 <span>Sol</span></h2>
                        <p class="item-desc">($208,236.72 USD)</p>
                    </div>
                </div>                
            </div>


            <!-- Item 5 -->
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Claimable Rewards</h2>
                        <h2 class="item-content font-weight-bolder mt-1">0.22 <span>Sol</span></h2>
                        <p class="item-desc">($12.12 USD)</p>
                    </div>
                </div>                
            </div>
        </div>

        <!-- Community Revenue -->
        <h1 class="mt-3 mb-2">Community Revenue Over Time</h1>

        <!-- Apex Line Charts -->
        <div class="btn-group btn-group-toggle mt-md-0 mt-1 chart-radio mb-2" ngbRadioGroup name="radioBasic">
            <label class="btn btn-outline-primary" ngbButtonLabel rippleEffect>
            <input type="radio" name="radio_options" id="radio_option1" [value]="1" ngbButton />
            <span>Daily</span>
            </label>
            <label class="btn btn-outline-primary" ngbButtonLabel rippleEffect>
            <input type="radio" name="radio_options" id="radio_option2" ngbButton [value]="2" />
            <span>Monthly</span>
            </label>
            <label class="btn btn-outline-primary" ngbButtonLabel rippleEffect>
            <input type="radio" name="radio_options" id="radio_option3" ngbButton [value]="3" />
            <span>Yearly</span>
            </label>
        </div>

        <section id="apex-line-charts">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
                            <div>
                                <h4 class="card-title mb-25">Revenue Chart</h4>
                                <!-- <span class="card-subtitle text-muted">Commercial networks & enterprises</span> -->
                            </div>
                            <div class="d-flex align-items-center flex-wrap mt-sm-0 mt-1">
                                <h5 class="font-weight-bolder mb-0 mr-1">$ 100,000</h5>
                                <div class="badge badge-light-secondary">
                                    <i class="text-danger font-small-3" data-feather="arrow-down"></i>
                                    <span class="align-middle">20%</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="line-chart" #apexLineChartRef>
                                <apx-chart
                                    [series]="apexLineChart.series"
                                    [chart]="{
                                    height: 400,
                                    width: isMenuToggled === false ? apexLineChartRef.offsetWidth : apexLineChart.chart.width,
                                    type: 'line',
                                    zoom: {
                                        enabled: false
                                    },
                                    toolbar: {
                                        show: false
                                    }
                                    }"
                                    [xaxis]="apexLineChart.xaxis"
                                    [stroke]="apexLineChart.stroke"
                                    [tooltip]="apexLineChart.tooltip"
                                    [colors]="apexLineChart.colors"
                                    [dataLabels]="apexLineChart.dataLabels"
                                    [grid]="apexLineChart.grid"
                                ></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Apex Line Charts -->

        <div class="row match-height">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Last 24 hrs</h2>
                        <h2 class="item-content font-weight-bolder mt-1">{{revenueOverview.lastDay | shortNumber : 2}} <span>Sol</span></h2>
                    </div>
                </div>                
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Last 7 days</h2>
                        <h2 class="item-content font-weight-bolder mt-1">{{revenueOverview.lastWeek | shortNumber : 2}}<span>Sol</span></h2>
                    </div>
                </div>                
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Last 30 days</h2>
                        <h2 class="item-content font-weight-bolder mt-1">{{revenueOverview.lastMonth | shortNumber : 1}}<span>Sol</span></h2>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row match-height">
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Last year</h2>
                        <h2 class="item-content font-weight-bolder mt-1">{{revenueOverview.lastYear | shortNumber : 1}}<span>Sol</span></h2>
                    </div>
                </div>                
            </div>
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header flex-column">
                        <h2 class="item-title">Since launch</h2>
                        <h2 class="item-content font-weight-bolder mt-1">{{revenueOverview.all | shortNumber : 1}}<span>Sol</span></h2>
                    </div>
                </div>                
            </div>
        </div>



        <div class="row match-height">
            <!-- Sales Activity -->
            <div class="col-lg-6 col-sm-6 col-12">
                <h1 class="mt-3 mb-2">Sales Activity</h1>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="nft-sale" *ngFor="let sale of recentSales; let i = index;">
                                <div class="media">
                                    <img [src]="sale?.duckInfo?.original_image" class="rounded mr-1" height="50" [alt]="sale?.duckInfo?.name" />
                                    
                                    <div class="align-self-center mb-0">
                                        <h6 class="sale-title">Dazed Ducks <span>#{{sale?.duckInfo?.xnum}}</span> sold</h6>
                                        <span class="sale-date">{{ getRelativeTime(sale?.blockTime) }}</span>
                                    </div>

                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-body-heading mr-1 sale-price">{{numFormatter(sale?.total_amount / lamports_per_sol, -1)}} <span>sol</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Social Activity -->
            <div class="col-lg-6 col-sm-6 col-12">
                <h1 class="mt-3 mb-2">Social Activity</h1>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body x-scroll">
                            <div class="nft-social" *ngFor="let tweet of twitterFeed; let i = index;">
                                <div class="media mr-5">
                                    <a [href]="tweet.url" target="_blank">
                                        <img [src]="tweet.profile_image_thumb" class="rounded mr-1" height="50" alt="" />
                                        
                                        <div class="align-self-center mb-0">
                                            <h6 class="social-title">{{FormatStringSlice(tweet.name, 9)}}</h6>
                                            <span class="social-date">{{tweet.username}}</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-body-heading mr-1 social-comment">{{FormatStringSlice(tweet.text,90)}}</div>
                                </div>
                            </div>


                            <!-- <div class="nft-social">
                                <div class="media mr-5">
                                    <img src="assets/images/avatars/ava_placeholder.jpg" class="rounded mr-1" height="50" alt="Duck 365" />
                                    
                                    <div class="align-self-center mb-0">
                                        <h6 class="social-title">DazedDucks...</h6>
                                        <span class="social-date">@DazedDucks</span>
                                    </div>

                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-body-heading mr-1 social-comment">The #DazedDucks creator collection on Magic Eden now</div>
                                </div>
                            </div>


                            <div class="nft-social">
                                <div class="media mr-5">
                                    <img src="assets/images/avatars/ava_placeholder.jpg" class="rounded mr-1" height="50" alt="Duck 365" />
                                    
                                    <div class="align-self-center mb-0">
                                        <h6 class="social-title">DazedDucks...</h6>
                                        <span class="social-date">@DazedDucks</span>
                                    </div>

                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-body-heading mr-1 social-comment">The #DazedDucks creator collection on Magic Eden now</div>
                                </div>
                            </div>


                            <div class="nft-social">
                                <div class="media mr-5">
                                    <img src="assets/images/avatars/ava_placeholder.jpg" class="rounded mr-1" height="50" alt="Duck 365" />
                                    
                                    <div class="align-self-center mb-0">
                                        <h6 class="social-title">DazedDucks...</h6>
                                        <span class="social-date">@DazedDucks</span>
                                    </div>

                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-body-heading mr-1 social-comment">The #DazedDucks creator collection on Magic Eden now</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>